In [1]:
import sys
sys.executable

'C:\\Users\\munjal\\Anaconda3\\envs\\ml-zoomcamp\\python.exe'

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [4]:
df = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

In [5]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
df.isnull().values.any()

True

In [9]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [11]:
df.ocean_proximity.nunique()

5

In [12]:
df.nunique()

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [19]:
df.ocean_proximity

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object

In [22]:
df['ocean_proximity'] == 'NEAR BAY'

0         True
1         True
2         True
3         True
4         True
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: ocean_proximity, Length: 20640, dtype: bool

In [25]:
df[
   df['ocean_proximity'] == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

In [31]:
df.total_bedrooms.isnull().values.any()

True

In [33]:
df[df.total_bedrooms.isnull()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

In [46]:
tot_bed_avg = df.total_bedrooms.mean()
print(tot_bed_avg)

537.8705525375618

In [47]:
df['total_bedrooms'].fillna(value=tot_bed_avg, inplace=True)

In [48]:
df.total_bedrooms.isnull().values.any()

False

In [50]:
df.total_bedrooms.mean()

537.8705525375617

In [55]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [69]:
df_numpy = df.loc[df['ocean_proximity'] == 'ISLAND',['housing_median_age','total_rooms','total_bedrooms']]

In [70]:
df_numpy

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [75]:
X = df_numpy.values

In [76]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [78]:
X_T = X.T
XTX = X_T.dot(X)

In [79]:
import numpy as np

In [80]:
XTX_inv = np.linalg.inv(XTX)

In [82]:
y = np.array([950, 1300, 800, 1000, 1300])

In [94]:
res = XTX_inv.dot(X_T)
w = res.dot(y)

In [95]:
w

array([23.12330961, -1.48124183,  5.69922946])